{% load static %}

	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/filtrar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal-status.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/accesibilidad.js' %}"></script>

    {% comment %} Para subcategorias {% endcomment %}
    <script src="{% static 'js/glider.min.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/app.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/chart/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chart/chart-area.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chart/chart-bar.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tabla.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/factura.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/mostrarproductos.js' %}"></script>

    <script type="text/javascript" src="{% static 'datatable/datatables.js' %}"></script>

    <script type="text/javascript" src="{% static 'datatable/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/pdfmake-0.1.36/pdfmake.js' %}"></script>

    <script type="text/javascript" src="{% static 'datatable/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/DataTables-1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/Buttons-2.2.3/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/Buttons-2.2.3/js/buttons.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/Buttons-2.2.3/js/buttons.colVis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/Buttons-2.2.3/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/Buttons-2.2.3/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/Responsive-2.3.0/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/Responsive-2.3.0/js/responsive.bootstrap5.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/SearchBuilder-1.3.3/js/dataTables.searchBuilder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatable/SearchBuilder-1.3.3/js/searchBuilder.bootstrap5.min.js' %}"></script>