{% load static %}

<footer>
    <p>Supermercado EL NOPAL
        <br>Duitama,Boyacá-Colombia
        <br>Contactos:(+57)32145874
    <div class="d-inline-flex">
        <a href="https://es-la.facebook.com/">
            <figure><img width="100%" height="100%" src="{% static 'img/icons/facebook.svg' %}" alt="Facebook"></figure>
        </a>
        <a href="https://www.instagram.com/">
            <figure><img width="100%" height="100%" src="{% static 'img/icons/instagram.svg' %}" alt="Instagram">
            </figure>
        </a>
        <a href="https://www.whatsapp.com/">
            <figure><img width="100%" height="100%" src="{% static 'img/icons/whatsapp.svg' %}" alt="Whatsapp"></figure>
        </a>
    </div>
    <br>COPYRIGHT © 2022 - SENA</p>

</footer>