{% load static %}

<header class="w-100">
    {% if location %}
    <div class="container-fluid d-grid">
        <div class="row container-fluid p-0 m-0">
            <div class="col d-flex">
                <img src="{% static 'img/Logo.png' %}" id="nopal" width="250px" alt="Logo - ElNopal Supermercado">
            </div>
            <div class="col container-fluid d-flex justify-content-center align-items-center px-0">
                <a class="text-decoration-none p-0" style="color: var(--verdeoscuro);" href="{% url 'admin-login' %}"><figure class="d-flex flex-column px-4">
                    <img src="{% static 'img/icons/user.svg'%}" id="user" class="mx-auto d-block" width="45" alt="Administrador">
                    <a class="text-decoration-none" href="{% url 'admin-login' %}" id="texto">{{user.get_username}}</a>

                    {% comment %} <a class="text-decoration-none" href="{% url 'admin-login' %}" id="texto">Iniciar sesión</a> {% endcomment %}
                </figure></a>
                <a class="text-decoration-none p-0" style="color: var(--verdeoscuro);"  href="{% url 'inicio' %}"><figure class="d-flex flex-column align-items-center px-4">
                    <img src="{% static 'img/icons/exit.svg' %}" id="salir" class="mx-auto d-block" width="45" alt="Salir">
                    <a class="text-decoration-none" href="{% url 'inicio' %}" id="texto">Salir</a>
                </figure></a>
                <a class="text-decoration-none p-0" style="color: var(--verdeoscuro);"  href=""><figure class="d-flex flex-column px-4">
                    <img src="{% static 'img/icons/help.svg' %}" id="ayuda"  class="mx-auto d-block" width="45" alt="Ayuda">
                    <a class="text-decoration-none" href="{% static 'document/MANUAL-COMPLETO-USUARIO.pdf' %}" id="texto">Ayuda</a>

                </figure></a>
            </div>
        </div>
    </div>

    <section id="contenedor" style="top: 10px !important;" >
        <nav class="menu" style="height:60px;" >
            <section class="menu__container d-flex justify-content-center" >
        
                <ul class="menu__links" id="menuCentro" >
                    <li class="menu__item" >
                        <a href="{% url 'index-admin' %}" class="menu__linkC">Inicio</a>
                    </li>
                    <li class="menu__item" >
                        <a href="{% url 'buy' %}" class="menu__linkC">Compra</a>
                    </li>
                    <li class="menu__item" >
                        <a href="{% url 'sale' %}" class="menu__linkC">Venta</a>
                    </li>
                    
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown menu__item">
                          <a class="nav-link dropdown-toggle menu__linkC" href="{% url 'category' %}" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestión
                          </a>
                          <ul class="model dropdown-menu " aria-labelledby="">
                            <li class="menu__item menu__item--show">
                                <a href="{% url 'category' %}" class="menu__linkC menu__link--inside">Categoría</a>
                                <a href="{% url 'subcategory' %}" class="menu__linkC menu__link--inside">Subcategoría</a>
                                <a href="{% url 'brand' %}" class="menu__linkC menu__link--inside">Marca</a>
                                <a href="{% url 'product' %}" class="menu__linkC menu__link--inside">Producto</a>
                                <a href="{% url 'provider' %}" class="menu__linkC menu__link--inside">Proveedor</a>
                                <a href="{% url 'registro' %}" class="menu__linkC menu__link--inside">Usuario</a>
                            </li>
                          </ul>
                        </li>
                      </ul>

                    
                </ul>
                <div class="menu__hamburger">
                    <img src="{% static 'img/icons/menu.svg' %}" alt="img" class="menu__img" >
                </div>
            </section>
        </nav>
        
    </section>
    {% else %}
    <section class="d-grid grid" style="height: auto; width:100%;">
        <div class="container-fluid">
    
            <div class="row container-fluid p-0 m-0">
                <div class="col d-flex ">
                    <img id="nopal" src="{% static 'img/Logo.png' %}" id="nopal" width="250px" alt="logo">
                </div>
                
                <div class="col container-fluid d-flex justify-content-center align-items-center px-0">
                    <input class="form-control buscador"  id="myInput" type="text" placeholder="Buscar..">

                    <figure class="d-flex flex-column align-items-center  px-4">
                        <img src="{% static 'img/icons/user.svg' %}" id="user" data-bs-toggle="modal" data-bs-target="#modalSesion"class="mx-auto d-block my-2" width="45" alt="">
                        <a href="{% url 'admin-login' %}" id="texto" class="text-decoration-none p-0" style="color: var(--verdeoscuro);" >Iniciar sesión</a>
                    </figure>
                    <figure class="d-flex flex-column align-items-center px-4">
                        <img src="{% static 'img/icons/shopping-car.svg' %}" id="carrito" class="mx-auto d-block my-2" width="45" alt="">
                        <a href="{% url 'usuario-carrito' %}" id="texto" class="text-decoration-none p-0" style="color: var(--verdeoscuro);">Tu carrito</a>
                    </figure>
                </div>
            </div>
        </div>    
        <section id="contenedor" style="top: 10px !important;" >
            <nav class="menu" style="height:60px;" >
                <section class="menu__container d-flex" >
            
                    <ul class="menu__links" >
                        <li class="menu__item" >
                            <a href="{% url 'inicio' %}" class="menu__link" >Inicio</a>
                        </li>

                        {% for category in MENU_USER_CATEGORIA %}
                        {% if category.status %}

                                <li class="menu__item menu__item--show"><a class="menu__link" href=""> {{category.name}}<img src="{% static 'img/icons/arrow-right.svg' %}" alt="img" class="menu__arrow" ></a>
                                <ul class="menu__nesting">

                                {% endif %}
                        {% for sub in MENU_USER_SUBCATEGORIA %}
                        {% if sub.status %}
                            {% if sub.category_id == category.id %}
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="{{sub.id}}">                                       
                                    <li class="menu__inside"><button class="menu__link menu__link--inside"  type="submit" style="border: none !important; outline: none;">{{sub.name}}</button></li>
                                </form>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endfor %}

                    <li class="menu__item" >
                        <a href="{% url 'usuario-contacto' %}" class="menu__link" >Contacto</a>
                    </li>

                    </ul>
                    <div class="menu__hamburger">
                        <img src="{% static 'img/icons/menu.svg' %}" alt="img" class="menu__img" >
                    </div>
                      
                </section>
                
            </nav>
            
        </section>
        
    {% endif %}
</header>
