{% extends 'partials/body_login.html' %}
{% load crispy_forms_tags %}
{% block title %}{{titulo_pagina}} - NUEVA CONTRASEÑA{% endblock title %}
{% load static %}
{% block contenido %}
<div class="background_login" id="inicio">
    <div class="container_login">
        <div>
            <div class="container_subtitle">
                <h2 class="subtitles_login" id="c_top">Crea una contraseña nueva</h2>
            </div>

            <div class="container_login_subtitles">
                <div class="text_login">Usarás esta contraseña para
                    acceder a tu cuenta.
                    Ingresa una nueva contraseña de al menos seis números,
                    letras y signos de puntuación.
                </div>

                <form method="post" class="d-flex flex-column align-content-center flex-wrap">
                    {% csrf_token %}
                    {{ form.new_password1.errors }}
                    <label class="form-label" for="id_new_password1">Nueva contraseña</label>
                    {{ form.new_password1 }}
                    {{ form.new_password2.errors }}
                    <label class="form-label" for="id_new_password2">Confirmar nueva contraseña</label>
                    {{ form.new_password2 }}
                    <input class="btn_login" type="submit" value="Confirmar">
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
