
{% extends 'partials/body_login.html' %}
{% load crispy_forms_tags %}
{% block title %}{{titulo_pagina}} - RECUPERAR CONTRASEÑA{% endblock title %}
{% load static %}
{% block contenido %}
<div class="background_login">
    <div class="container_login"  id="c_login">
        <figure class="p-0">
            <img class="img-fluid" src="{% static 'img/Logo.png' %}" alt="">
        </figure>

        <p class="title_login m-0">RECUPERAR CONTRASEÑA</p>

        <form action="#" method="post" class="text-center">
            {% csrf_token %}

            <div class="my-3">
                <label for="#" class="form-label">Correo:</label>
                {{ form.email }}
            </div>

            <a href="{% url 'password_reset_done' %}" class="text-decoration-none"><input type="submit" value="Restablecer contraseña" class="btn_login"></a>
        </form>

    </div>

    <script>
        document.getElementById('id_email').className = 'form-control w-75 mx-auto'
    </script>

{% endblock %}
