{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %}{{title_pag}} - El Nopal Supermercado{% endblock title %}
{% load static %}
{% block contenido %}
<div >
    <section class="container p-5 h-auto" id="mode-cards" data-admin id="cuerpo" style="width: 95%">
        <h1>Gestionar {{title_pag}}</h1>
        <div class="row my-4">
            <div class="col-md-4">
                <div class="border p-3 rounded shadow mt-3" id="mode-cards">
                    <h3 class="text-start">Nuevo Registro </h3>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="hidden" id="modal-status" value="Agregar">
                        <button class="btn_agregar d-block m-auto text-center text-decoration-none py-1 rounded border border-none"
                        style="width: 120px;" >Agregar</button>

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table id="tabla" class="display table table-striped table-hover text-nowrap mt-3" style="width:100%">
                    <thead style="background-color: var(--verde); color: var(--verdeoscuro);">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Correo Electrónico</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for register in registers %}
                            {% if register.status %}
                                <tr>
                                    <td id="texto">{{register.name}}</td>
                                    <td id="texto">{{register.phone}}</td>
                                    <td id="texto">{{register.email}}</td>
                                    <td id="texto"><a href="{%url 'provider-modal' modal='editar' pk=register.id %}" class="btn btn-md border"><img class="img-fluid" src="{% static 'img/icons/update.svg' %}" id="edit" alt=""></a>
                                        <a href="{%url 'provider-modal' modal='eliminar' pk=register.id%}" class="btn btn-md border"><img class="img-fluid" src="{% static 'img/icons/delete.svg' %}" id="eliminar" alt=""></a> 
                                    </td>    
                                </tr>
                            {% endif %}
                    {% endfor %}
                    </tbody> 

                </table>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>
</div>

{% include 'partials/accesibilidad.html' %}
{% endblock %}